<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Register Textile successfully!</title>
</head>
<body>
	<h1>註冊成功</h1>
	<p></p>
	<p>${emailMap.mName}您好，歡迎您加入Textile交友網的新會員，很高興能為您服務。</p>
	<p></p>
	<p>您使用${emailMap.mEmail}註冊Textile的會員，但仍需要驗證信箱才能使用會員登入的功能哦！</p>
	<p></p>
	<p>以下為驗證連結的網址，按一下完成註冊：</p>
	<p></p>
	<p>
		<a href="${emailMap.checkUrl}"></a>
	</p>
	<p></p>
	<p>如果您不曾在Textile註冊過，請忽略此封信件，並連絡我們textile@gmail.com，我們由專員為您服務。</p>
	<p></p>
	<p>此封信件由Textile系統直接發送，請勿直接回覆，有任何問題隨時可以連絡我們哦！</p>
</body>
</html>